@import '../../sassStyles/_variables';
@import '../../sassStyles/mixins';
.spinner__container {
    height: 100vh;
    @include Flexbox();
    position: relative;
    z-index: 4000000;
  &--icon {
    width: 68px;
    height: 68px;
    border: 8px solid $Yellow;
    border-bottom-color: #fff;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
